/* .list-items {} */

/* animation: fadeIn 5s; */

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #exampleEmail {
    color: red;
    /* border-color: red; 
}

#exampleEmail:focus {
    color: red;
    border-color: red;
    box-shadow: 0 0 0 1px #cf1616, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
} */

/* #exampleEmail:active {
    border-color: red;
} */

.form {
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    border: 1;
    /* justify-content: center; */
}

.items>li:last-child {
    animation: fadeIn 5s;
    /* color: red */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}